venv/
.venv/
__pycache__/
*.pyc
*.log
.env
db.sqlite3
media/
static/
.DS_Store
.idea/
.vscode/
*.db
*.sqlite3
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
*.pyproj
*.sln
*.swp
# Docker
*.pid
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Coverage
.coverage
.coverage.*
coverage.xml

# Фронтенд
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*